.header-container{
    height: 35vh;
}

.header-logo{
    height: 100%;
    width: 100%;
    background-image: url("./header-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}